body {
    font-family: Arial, sans-serif;
  }
  
  input {
    margin-bottom: 10px;
  }
  
  button {
    margin-bottom: 10px;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .strike-through {
    text-decoration: line-through;
  }